<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.heipiao.api.mapper.CommentMapper">
	<resultMap type="Comment" id="commentResultMap">
		<id column="f_cid" property="id" />
		<result column="f_content" property="content" />
		<result column="f_createtime" property="createTime" />
		<result column="f_flag" property="flag" />
		<result column="f_author" property="userId" />
		<result column="f_user_nickname" property="nickname" />
		<result column="f_user_portriat" property="portriat" />
		<result column="f_sid" property="sid" />
	</resultMap>
	<sql id="commentSql">
		f_cid,
		f_content,
		f_createtime,
		f_flag,
		f_author,
		u.f_user_nickname,
		u.f_user_portriat,
		f_sid
	</sql>
	
	<select id="selectAll" parameterType="int" resultMap="commentResultMap">
		SELECT * FROM t_comment  WHERE f_sid = #{sid}
	</select>
	
	<select id="selectList" resultMap="commentResultMap">
		SELECT
		<include refid="commentSql"></include>
		FROM t_comment t,
		t_user u
		<where>
			t.f_author = u.f_uid and
			t.f_flag = '1'
			<if test="sid!=null">
				and t.f_sid = #{sid}
			</if>
			<if test="start>0">
				and t.f_cid &lt; #{start}
			</if>
		</where>
		ORDER BY
			t.f_cid DESC
		LIMIT #{size}
	</select>
	<select id="countComments" parameterType="long" resultType="long">
		SELECT COUNT(*) FROM t_comment t WHERE t.f_flag = '1' and t.f_sid =
		#{sid};
	</select>
	<insert id="insert" parameterType="Comment">
		INSERT INTO t_comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				f_cid,
			</if>
			<if test="content!=null">
				f_content,
			</if>
			<if test="createTime!=null">
				f_createtime,
			</if>
			<if test="flag!=null">
				f_flag,
			</if>
			<if test="userId!=null">
				f_author,
			</if>
			<if test="sid!=null">
				f_sid,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="content!=null">
				#{content},
			</if>
			<if test="createTime!=null">
				#{createTime},
			</if>
			<if test="flag!=null">
				#{flag},
			</if>
			<if test="userId!=null">
				#{userId},
			</if>
			<if test="sid!=null">
				#{sid},
			</if>
		</trim>
	</insert>
	<update id="updateById" parameterType="Comment">
		UPDATE t_comment
		<set>
			<if test="flag!=null">
				f_flag = #{flag}
			</if>
		</set>
		<where>
			<if test="id!=null">
				f_cid = #{id}
			</if>
		</where>
	</update>
</mapper>