<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.heipiao.api.mapper.LikeSiteMapper">

	<resultMap type="likeSite" id="baseResultMap">
		<result column="f_site_id" property="siteId" />
		<result column="f_uid" property="uid" />
		<result column="f_create_time" property="createTime" />
	</resultMap>

	<select id="selectIsLike" parameterType="java.util.Map" resultMap="baseResultMap">
		select *
		from t_like_site
		where f_site_id = #{siteId} and f_uid = #{uid}
	</select>
	
	<select id="countSite" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(*)
		from t_like_site
		where f_site_id = #{siteId}
	</select>
	
	<insert id="insertPojo">
		insert into t_like_site(f_site_id,f_uid,f_create_time)
		values(#{siteId},#{uid},#{createTime})
	</insert>
	
	<delete id="deletePojo" parameterType="java.util.Map">
		delete from t_like_site where f_site_id = #{siteId} and f_uid = #{uid} 
	</delete>
	
</mapper>