<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.heipiao.api.mapper.PartnerUserCouponMapper">


	<resultMap type="partnerUserCoupon" id="baseResultMap">
		<id column="f_uid" property="uid" />
		<result column="f_amount" property="amount" />
		<result column="f_create_time" property="createTime" />
	</resultMap>
	
	<sql id="baseColumn">
		f_uid,f_amount,f_create_time
	</sql>
	
	<select id="selectByUidAsLock" parameterType="java.lang.Long" resultMap="baseResultMap">
		select 
		<include refid="baseColumn" />
		from t_partner_user_coupon
		where f_uid = #{uid} for update
	</select>
	
	<select id="selectByUid" parameterType="java.lang.Long" resultMap="baseResultMap">
		select 
		<include refid="baseColumn" />
		from t_partner_user_coupon
		where f_uid = #{uid}
	</select>
	
	<insert id="insertPojo">
		insert into t_partner_user_coupon
		(<include refid="baseColumn" />)
		values
		(
			#{uid},
			#{amount},
			#{createTime}
		)
	</insert>
	
	<update id="updateAmount">
		update t_partner_user_coupon
		set f_amount = #{amount}
		where f_uid = #{uid}
	</update>

</mapper>